<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
    <div class="row">
      <div class="col-8">
        <h1><%= link_to place.name, place_path(place) %></h1>
        <i><%= place.address %></i><br /><br />
        <p><%= place.description %></p><br />
        <% if place.user.present? %>
          <small><%= place.user.email %> </small>
        <% end %>
        <% if place.comments.present? %>
            <blockquote>
              <% if place.comments.last.humanized_rating.present? %>
                <b><%= place.comments.last.humanized_rating %></b> -
              <% end %>
              <%= place.comments.last.message %>
              <small><%= place.comments.last.user.email %></small>
            </blockquote>
        <% end %>
      </div>
      <div class="col-4">
        <% if place.photos.present? %>
          <div class="img-upload">
            <% if place.photos.last.picture.url.present? %>
              <%= image_tag place.photos.last.picture.url %>
            <% end %>
            <%= place.photos.last.caption %>
            <small><%= place.photos.last.user.email %></small>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<div class="booyah-bar offset-1">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>